<div>
<app-data-picker></app-data-picker>
<!-- todo:
  1. create 'mane page' module. ????
  2. move angular matireal components and modules from app.module to 'shared module'
  3. create 'date form' component, witch inludes 'data-picker.component' + 4. + 5.
  4. add button 'remove data picker' for every datapicker. If only datapicker - not show button 'remove data picker'
  5. add 'input user name' input for every datapicker with label 'you can ignore input user name'. If input not empty -> put user name to query string for result page
  6. add additional logic and set it data to card
  7. **add button 'back' to 'result page' with not loose users dates, rename existing 'back button' to 'new calculation' button
  8. **internationalization for all
  9. **adaptive markup (for mobile)
    -->
<ng-template #dynamic></ng-template>
<p>
  <button mat-stroked-button (click)="oneMoreButtonHandler()" >One more date</button>
  <a> or </a>
  <button mat-stroked-button (click)="calculateButtonHandler()">Calculate</button>
  </p>

</div>
