<div>
<app-input-date-form></app-input-date-form>
<!-- todo:

  6. add additional logic and set it data to card
  7. **add button 'back' to 'result page' with not loose users dates, rename existing 'back button' to 'new calculation' button
  8. **internationalization for all
  9. **adaptive markup (for mobile)

  1. тип личности я- мы по таблице беретца номер эмоционального контура
  2. левополушарный интеллект = манипура + вишудха (вербальный, логический)
  3. правополушарный интеллект = анахата + аджна (интуиция, образы)
  4. мужской потенциал (ян) манипура + анахата + аджна
  5. женский потенциал (инь) муладхара + свадхстана + вишудха
  6. жизненный потенциал (потенциал ассиметрии) = (разница инь и ян ) х муладхару
  7. физический потенциал муладхара+свадхистана \198
  8. эмоциональный манипура + анахата\198
  9. интелелктуальный вишудха+аджна\198
  10. рассчет периодов отработки: 60 \ кочицество цифр кода негатива начиная с третьей, вычитая 9. = продолжительность периода отработки, лет.
 -->
<ng-template #dynamic></ng-template>
<p>
  <button mat-button (click)="oneMoreButtonHandler()" >Add Person</button>
  <a> or </a>
  <button mat-button color="primary" (click)="calculateButtonHandler()">Calculate</button>
  </p>

</div>
