<!-- todo:
  7. **add button 'back' to 'result page' with not loose users dates, rename existing 'back button' to 'new calculation' button
  8. **internationalization for all
  9. **adaptive markup (for mobile)

  1. тип личности я- мы по таблице беретца номер эмоционального контура

 -->
 <body>
 <div id="group"  [formGroup]="parentForm">

 <div formArrayName="items"

  *ngFor="let item of parentForm.get('items')['controls']; let i = index;">
  <div [formGroupName]="i">
    <mat-form-field class="line-padding-right">
      <input matInput placeholder="{{'INPUT_NAME' | translate}}"
             formControlName="name">
    </mat-form-field>

    <mat-form-field class="line-padding-right">
      <input readonly type="text"
      matInput [matDatepicker]="picker"
      [min]="minDate" [max]="maxDate"
      placeholder= "{{'DATE' | translate}}"
      formControlName="date"
      (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>
    <button *ngIf='items.length > 1' mat-button color="warn" (click)="removeItem(i)">{{ 'REMOVE' | translate }}</button>
  </div>
  <!-- Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }} -->
</div>
<button mat-stroked-button color="primary" [disabled]="!parentForm.valid" (click)="addItem()">{{ 'ADD_P' | translate }}</button>
  <a> {{ 'OR' | translate }} </a>
  <button mat-raised-button color="primary" [disabled]="!parentForm.valid" (click)="calculateButtonHandler()">{{ 'CALC' | translate }}</button>
</div>
</body>
